<h3 class="display-4">Расписание:</h3>

<table class="table table-striped">
  <thead>
    <tr>
    <th scope="col">№</th>
    <th scope="col">Парикмахер</th>
    <th scope="col">Время работы</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Юдашкина Алина</td>
      <td>ПН,СР,ПТ с 9-00 до 14-00</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ливанов Антон</td>
      <td>ежедневно с 15-00 до 18-00</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Божок Екатерина</td>
      <td>ВТ,ЧТ,СБ,ВСКР с 10-00 до 15-00</td>
    </tr>
  </tbody>
</table>
